<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <fieldTypes>
      <fieldType name="Rich Text" type="Sitecore.Support.Data.Fields.HtmlField,Sitecore.Support.392562" resizable="true" patch:instead="*[@type='Sitecore.Data.Fields.HtmlField,Sitecore.Kernel']" />
      <fieldType name="html" type="Sitecore.Support.Data.Fields.HtmlField,Sitecore.Support.392562" resizable="true" patch:instead="*[@type='Sitecore.Data.Fields.HtmlField,Sitecore.Kernel']" />
    </fieldTypes>
  </sitecore>
</configuration>